<div class="box">
    <div class="box__ghost">
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      
      <div class="box__ghost-container">
        <div class="box__ghost-eyes">
          <div class="box__eye-left"></div>
          <div class="box__eye-right"></div>
        </div>
        <div class="box__ghost-bottom">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="box__ghost-shadow"></div>
    </div>
    
    <div class="box__description">
      <div class="box__description-container">
        <div class="box__description-title">We are sorry...</div>
        <div class="box__description-text">You don't have permission to access this page</div>
      </div>
      
      <a href="/"  class="box__button">Go Back</a>
      
    </div>
    
  </div>
