$orange: #ff8600;
$blue: #62a7ff;
$green: #58deb6;
$downOrange: #ffb35e;
$upGreen: #14ba47;
$shadow: drop-shadow(0 0 60px rgba(31,32,41,0.1));
$cardBg: rgba($color: #ffffff, $alpha: 0.45);
$lightGray: #b2b5b8;
$darkGray: #404447;
$font: "Poppins";
$fontWeight: 500;
$lineColor: #e4d6d5;
