.calendar-card {
    width: 250px;
    height: 350px;
    border-radius: 3px;
    filter: drop-shadow(0 0 60px rgba(31,32,41,0.1));
    background-color: rgba($color: #ffffff, $alpha: 0.45); 
    top: 450px;
    left: 560px;
    position: absolute;
}
.calendar-card p {   
    margin-top: 15px;
    margin-left: 75px
}
#selected-date{
    margin-top: -15px;
    font-size: 11px;
    line-height: 30px;
    color: #b2b5b8;
    font-weight: 500;
    font-family: "Poppins";
}
.mat-card{
    margin-top: -30px;
    background: none;
    border: 0px solid green;
    box-shadow: none;
    
}
:host ::ng-deep .mat-calendar-period-button {
    display:block;
    margin-left: 50px;
    //position: absolute;
  }
  :host ::ng-deep .mat-calendar-previous-button {
    position: absolute;
    color: #b2b5b8;
    &:hover {
        color: #ff8600;
      }
    
    
  }
  :host ::ng-deep .mat-calendar-next-button {
    color: #b2b5b8;
    &:hover {
        color: #ff8600;
      }
  }
:host ::ng-deep .mat-calendar-body-today{
    background-color: #58deb6;
    color: white;
    border: #58deb6;
}
:host ::ng-deep .mat-calendar-body-selected{
    background-color: #62a7ff;
}
.mat-calendar{
    background-color: none;
}
.calendar-icon{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
    background: url("../../../assets/img/calendar-icon.png") #62a7ff no-repeat center center;
    border: 5px #62a7ff;
}
