<div class="credit-card">
    <p>My Credit Card</p>
    <div class="card-image">
        <p id="type">&nbsp;{{cardType}}&nbsp;</p>
        <p id="card-number">{{cardNumber}}</p>
        <p id="date">{{expireDate}}</p>
        <p id="name">{{shortName}}</p>
    </div>
    <div class="line"></div>
    <table class="card-info">
        <tr>
            <td>Card number:</td>
            <td class="data">{{cardNumber}}</td>
        </tr>
        <tr>
            <td>Account name:</td>
            <td class="data">{{accountName}}</td>
        </tr>
        <tr>
            <td>Card status:</td>
            <td class="data">{{cardStatus}}</td>
          </tr>
      </table>
    
</div>

