@import '../../../sass/variables';
@import '../../../sass/mixins';

.credit-card {
    width: 250px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
    @include component-card;
}
.credit-card p {   
    position: relative;
    top: 10px;
    margin-left: 15px
}
.card-image{
    width: 220px;
    height: 120px;
    border-radius: 3px;
    filter: drop-shadow(0px 13px 15px rgba(72,117,174,0.25));
    background-image: url("../../../assets/img/credit-card-bg.png");
    background-position: right 40% bottom 66%;
    margin-top: 30px;
    margin-left: 15px;    
}
#type{
    position: absolute;
    left: -5px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    width: auto;
    color: $darkGray;
    font-weight: 700;
    font-style: italic;
    font-family: $font;
    text-align:center; 
    text-transform: uppercase;
}
#card-number{
    position: absolute;
    top: 30px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #ffffff;
    font-weight: $fontWeight;
    font-family: $font;
    margin-left: 0;
    vertical-align: middle;
    text-align:center; 
}
#date{
    position: absolute;
    top: 65px;
    left: -5px;
    @include creditCardFontStyle()
}
#name{
    position: absolute;
    top: 65px;
    right: 10px;
    text-transform: uppercase;
    @include creditCardFontStyle()
}
.line{
    margin-top: 30px;
    @include line();
}
.card-info{
    @include cardInfoTable();
}