.main-body{
    width: 830px;
    height: 850px; 
    left: 23%; 
    top: 60px; 
    bottom: 100px; 
    border-radius: 4px; 
    background-color: rgba(255, 250, 253, 0.7);
    position: absolute;
    
  }
  footer{
    opacity: 0;
  }
  @media (max-width: 900px) {
    .main-body{
     // width: 90%;
      left: 0;
    }
    #menu-icon{
      visibility: visible;
    }
    
}
