@import '../../../sass/variables';
@import '../../../sass/mixins';

.earning-card {
    width: 250px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
    @include component-card();
}
.earning-card p {   
    position: absolute;
    margin-top: 10px;
    margin-left: 15px
}
.line{
    margin-top: 50px;
    @include line();
}
.card-info{
    @include cardInfoTable();
}
canvas{
    width:150px !important;
    height:150px !important;
    position: relative;
    left: 50px;
    top: 30px;
  }
.percent-label{
    position: absolute;
    top: 23%;
    left: 35%;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 40px;
    color: $darkGray;
    font-weight: 600;
    font-family: $font;
}