<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://github.com/chartjs/Chart.js/releases/download/v2.6.0/Chart.bundle.min.js"></script>
<div class="earning-card">
    <p>Earning in Month</p>
    <canvas id="myChart"></canvas>
    <p class="percent-label">{{percent}}%</p>

    <div class="line"></div>
    <table class="card-info">
        <tr>
            <td>Deposit:</td>
            <td class="data">${{deposit}}</td>
        </tr>
        <tr>
            <td>Expense:</td>
            <td class="data">${{expense}}</td>
        </tr>
        <tr>
            <td>Payable:</td>
            <td class="data">${{payable}}</td>
          </tr>
      </table>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


